.wrapper{
    text-align: center;
    display: flex;
    margin: auto;
    width: fit-content;
    border: solid;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px 20px;
}
.wrapper>div{
    text-transform: uppercase;
    margin: 0 90px;
    height: fit-content;

}

.paymentDetails{
    margin-top: 0;
    margin-bottom: 13px;
    color: #555555;
    width: 90%;
    margin: auto;
    font-weight: 400;
    font-size: 25px;
    border-bottom: dotted 1px #777777;
}

.terms{
    display: flex;
    align-items: center;
    color: #777777;
    font-weight: 600;
}
.confirm{
width: fit-content;
margin: auto;
padding: 1.5px;
}
.confirm:hover{
opacity: .9;
}
.confirm>button{
    color: #FFF;
    width: fit-content;
    background-color: #336699;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    padding: 10px 80px;
}
