.navContainer {
  position: fixed;
  top: 0%;
  z-index: 10;
  text-align: center;
  width: 100%;
  padding: 8px 0px;
  background-color: rgba(0, 0, 0, 0.377);
}
.tutorNavContainer {
  position: fixed;
  top: 0%;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  background-color: rgb(48, 105, 189);
}
.tutorNavContainer .links a:hover {
  color: rgb(149, 174, 212);
}
.tutorNavContainer button {
  color: aliceblue;
}
.nav {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: white;
}
/* .logo a h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
} */
.links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-items: center;
}
.links a:hover {
  color: rgb(51, 102, 153);
  cursor: pointer;
}
/* logoo */
.logo {
  display: flex;
  flex-direction: row;
  color: white;
  width: 130px;
  margin-top: -5px;
}

.logo > span:nth-child(1) {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 30px;
}
.logo > span:nth-child(2) {
  margin-top: 5px;
  font-size: 35px;
  font-family: fantasy;
}
.logo > span:nth-child(3) {
  font-size: 15px;
  margin-top: 6px;
}

.links a {
  text-decoration: none;

  color: white;
}

.homeContainer {
  position: relative;
  color: white;
}
.homeContainer::after {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -10;
  content: "";
  background: url("https://images.unsplash.com/photo-1473649085228-583485e6e4d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80")
    no-repeat;
  height: 100%;
  width: 100%;
  filter: blur(2px);
  background-position: 75% 40%;
}
.topHead {
  padding: 100px 0px 70px 0px;
}

.homeQuestion {
  padding: 0px 0px 70px 0px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.homeQuestion button {
  text-transform: none;
}
